.containerForm{
 display: flex;
 background-color: rgba(255, 255, 255, 0.6);
 justify-content: center;
 align-items: center;
 height: 15rem;
 width: 20rem;
 border-radius: 10px;
}

.containerFormInside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    border: none;
    border-radius: 5px;
    /* height: 1.3rem;
    width: 20rem; */
    height: 1.5rem;
    width: 15rem;
    margin: 8px
}

.button{
    height: 35px;
    border-radius: 10px;
    margin: 7px;
    width: 70px;
    background-color: #28a745;
    color: white;
    /* border: 2px solid;
    border-color: black; */
    border: none;
}
.button:hover{
    background-color: rgba(49, 161, 83, 0.6);
}
